body {
    font-family: Arial,sans-serif;
    background-color: rgb(16, 129, 100);
    text-align: center;
    margin: 20px;
}
h1{
    color: black;
    margin-bottom: 30px;
}
.product-box {
 background-color: white;
 width: 300px;
 height: 400px;
 margin: 0 auto;
 padding: 15px;
 border: 2px solid gray;
 border-radius: 8px;
}
.product-box img{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
.product-box h2{
    color: black;
    font-size: 20px;
    margin: 10px 0;
}
.price{
    color: red;
    font-weight: bold;
    margin-bottom: 30px;
}
button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(61, 43, 167);
    color: black;
    padding:10px 20px ;
    border-radius: 6px;
}