body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.block-menu a {
    display: block;
    background-color: rgb(24, 40, 119);
    color: azure;
    padding: 10px;
    margin: 5px 0;
    text-decoration: bold;
}

.inline-menu a{
    display: inline;
    background-color: rgb(7, 78, 55);
    color: azure;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.inline-block-menu a{
    display: inline-block;
    background-color: rgb(95, 26, 160);
    color: azure;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
}

.float-menu a{
    float: left;
    background-color: rgb(172, 75, 75);
    color: azure;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
}
